---
import Social from "./Social.astro";
---

<footer>
  <div>
    <Social platform="twitter" username="wojnickiadam" />
    <Social platform="github" username="adamwojnicki" />
    <Social platform="instagram" username="adamyst" />
  </div>
  <p>&copy; 2022</p>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
